body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

h1, h2 {
    color: #3498db;
}

h3 {
    color: #2ecc71;
}

p {
    margin-bottom: 10px;
}

a {
    color: #3498db;
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin-bottom: 5px;
}
